@using 第二組期末專題.ViewModels
@model Article

@{
    ViewBag.Title = @Model.文章["標題"];
    //ViewBag.isScroll = "true";
}

@section HtmlHeadEnd{
    <link rel="stylesheet" href="~/Content/css/post.css" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" />
    <style>
        .ql-container {
            font-size: 16px !important;
            height: auto !important;
        }

        .ql-snow {
            border: none !important;
        }
    </style>
}

@Html.Partial("文章抬頭", Model.文章)

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
                @Html.Partial("文章內容", Model.文章)
                @Html.Partial("作者訊息", Model.文章.Get作者())
                <div class="pt-5 mt-5">
                    @Html.Partial("評論列表", Model.文章.Get評級清單())
                    @Html.Partial("新增評論", Model.文章["Id"])
                </div>
            </div>  @*.col-md-8*@
            <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
                @Html.Partial("搜尋欄")
                @Html.Partial("分類")
                @Html.Partial("最近文章")
                @Html.Partial("TagCloud")
                @Html.Partial("Paragraph")
            </div>
        </div>
    </div>
</section> <!-- .section -->

@section HtmlBodyEnd{
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#文章內容', {
            "modules": {
                "toolbar": false
            },
            readOnly: true,
            theme: 'snow'
        });
        quill.setContents(@Html.Raw(@Model.文章["內容"]));

        @*@if (ViewBag.旅程包 != null)
        {
            ViewBag.旅程包標題 = ViewBag.旅程包["標題"];
        }

        console.log('@ViewBag.旅程包標題');*@
    </script>
}