@using 第二組期末專題.Models
@model 用戶

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%;">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #mymember {
            font-size: 40px;
        }

        .form-group {
            font-size: 25px;
        }
    </style>
</head>
<body style="height:100%;">
    <div class="content py-5  bg-light" style="height: 100%;background-image: url('../../Content/images/bg_3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <span class="anchor" id="formUserEdit"></span>
                    <!-- form user info -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0" id="mymember"><b>會員資料</b></h3>
                        </div>

                        <div class="card-body">
                            <form class="form" role="form" method="post" action="Index">
                                <input type="hidden" name="Id" value="@Model["Id"]">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">帳號</label>
                                    <div class="col-lg-9">
                                        <input class="form-control form-control-lg" type="email" name="Email" value="@Model["帳號"]" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">密碼</label>
                                    <div class="col-lg-9">
                                        <input class="form-control form-control-lg" type="password" name="Password" value="@Model["密碼"]" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">姓名</label>
                                    <div class="col-lg-9">
                                        <input class="form-control form-control-lg" type="text" name="Name" value="@Model["名字"]" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">手機</label>
                                    <div class="col-lg-9">
                                        <input class="form-control form-control-lg" type="text" name="Phone" value="@Model["手機"]" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">註冊日期</label>
                                    <div class="col-lg-9">
                                        <input class="form-control form-control-lg" type="text" disabled="disabled" value="@Model["註冊日期"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">點數</label>
                                    <div class="col-lg-9">
                                        <input class="form-control form-control-lg" type="url" disabled="disabled" value="@Model["點數"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">標籤</label>
                                    <div class="col-lg-9">
                                        @{
                                            foreach (var Hashtag in Model.GetHashtag清單())
                                            {
                                                @*<a href="/Search/@Hashtag["名稱"]" class="tag-cloud-link">@Hashtag["名稱"]</a>*@
                                                <button type="button" class="btn btn-outline-primary">@Hashtag["名稱"]</button>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <a class="btn btn-secondary" href="/Home">返回</a>
                                        <input type="submit" class="btn btn-primary" value="確認修改">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->

                </div>
            </div>
        </div>
    </div>
</body>
</html>
